<h1>Listing of all the flats</h1>
<ul>
  <% @flats.each do |flat| %>
    <li>
      <%= flat.name %>
      <p> <%= flat.description %> </p>
      <p> <%= flat.address %> </p>
      <p> Price <%= flat.price_per_night %> Euro </p>
    </li>
  <% end %>
</ul>
